
        <p class="detalhe">A TSW Retrô é a demonstração das maravilhas que ciclismo nos proporciona em qualquer tempo. Por isso, apostamos num grafismo criativo e nostálgico, sem abrir mão da configuração moderna e eficiente que já faz parte da nossa identidade, sendo a mistura perfeita do estilo elegante e autêntico do passado, com a modernidade e praticidade do presente.
            <br>
            <br>
            Com esta bike, cada pedal será uma como uma aventura memorável e mega divertida.</p>
        <br>
        <br>