
    <p class="detalhe">Chegando para mudar os conceitos sobre E-Bikes, a TSW E-Quest é a mais nova queridinha da marca pronta para ser a protagonista do seu pedal. A nossa <strong>E-Quest Full Carbon XT 12V Motor EP8</strong> veio para trazer um alto desempenho nas subidas e descidas em um mesmo pedal, mas não se engane! Sua força sinérgica ainda será essencial para mover essa máquina.
        <br>
        <br>
        Sobre o nosso maior diferencial, a eletricidade, apresentamos o <strong>motor EP800 Shimano</strong> com <strong>peso total de 2,6 kg e 36% menos arrasto</strong> que outras bikes, que conta com quatro modos de assistência: <strong>Walk, Eco, Trail e Boos.</strong>
        <br>
        <br>
        A <strong>bateria é do tipo integrada para tubo inferior (630 Wh)</strong> com <strong>tensão de 36V e capacidade para 17,5 Ah, 630 Wh</strong>. Sobre o seu carregamento, é possível obter <strong>50% da carga em 2,5 horas e a carga total em 6 horas</strong>, além de manter a capacidade máxima por mais tempo <strong>(60% da capacidade após 1000 cargas)</strong>. Também encontramos o botão satélite sendo <strong>compatível com a bateria BT-E8035/BT-E8036 e o botão e chave satélite ligar/desligar EW-SW300</strong> que auxiliam na usabilidade da E-Bike. Além de possuir o quadro de carbono, <strong>cabeamento interno e direção Tapered</strong>.</p>
        <br>
        <br>

        