
    
  <%- include('partials/head') %>

    <h1 class="aba-site">Bicicletas</h1>

    <main class="secao">
   
            <div class="conteudo">
                
                <div class="produto">
                    <img class="imagem-bike" src="/images/bike2.jpg" alt="">
                    <a class="confira" href="/detalhes?produtos=produto1">CONFIRA ESTE MODELO</a>
                </div>
                  
                <div class="produto" id="translate">
                    <a class="confira" id="botaoConfi" href="/detalhes?produtos=produto2">CONFIRA ESTE MODELO</a>
                    <img class="imagem-bike"  src="/images/bike-rosa.jpg" alt="">
                </div>
                <div class="produto">
                    <img class="imagem-bike" src="/images/bike-preta.jpg" alt="">
                    <a class="confira" href="/detalhes?produtos=produto3">CONFIRA ESTE MODELO</a>
                </div>
                   
            </div> 

    </main>

    <article class="imagens-rodape">
        <img class="img-rodape" src="/images/suspensao-1.jpg" alt="">
        <img class="img-rodape" src="/images/freios-1.jpg" alt="">
        <img class="img-rodape" src="/images/garantia-1.jpg" alt="">
        <img class="img-rodape" src="/images/primeira-1.jpg" alt="">
    </article>

    <%- include('partials/footer') %>
</body>

</html>