<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/images/—Pngtree—mountains bike logo badge_5228653.png" type="image/x-icon">
    <title>Bike Shop</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="/images/—Pngtree—mountain vintage biking cycling t-shirt_6611753.png" alt="">
        <h1 class="name">Bike Shop</h1>
        <nav>
            <ul class="menu">
                <li><a href="">Home</a></li>
                <li><a href="#">Bicicletas</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Vestimenta</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Bicicletas</h1>

        <div class="imagens-slider">
            <a href="#" id="seta-voltar" class="seta-voltar opacidade">
                <img class="imagem-seta" src="/images/seta-direita.png" alt="seta voltar">
            </a>

            <div class="slide bike1 mostrar">
                <div class="conteudo">
                    <h2 class="titulo">Bicicleta 29 TSW E-Quest Full Carbon XT 12V Motor EP800 Shimano</h2>
                    <a href="/detalhes?produtos=produto1">Confira este modelo</a>
                </div>

                <img class="imagem-bike" src="/images/bike1.jpg" alt="">
            </div>

            <div class="slide bike2 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 29 OGGI AGILE PRO CARBON 2023</h2>
                    <a href="/detalhes?produtos=produto2">Confira este modelo</a>
                </div>

                <img class="imagem-bike" src="/images/bike2.jpg" alt="">
            </div>

            <div class="slide bike3 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 20 TSW RETRÔ ROSA</h2>
                    <a href="/detalhes?produtos=produto3">Confira este modelo</a>
                </div>
                <img class="imagem-bike" src="/images/bike-rosa.jpg" alt="">
            </div>

            <div class="slide bike3 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 29 ABSOLUTE NERO 4 ELITE 2X9V C/ HIDRÁULICO GRAFITE/PRETO</h2>
                    <a href="/detalhes?produtos=produto4">Confira este modelo</a>
                </div>
                <img class="imagem-bike" src="/images/bike-preta.jpg" alt="">
            </div>
            
            <a href="#" id="seta-avancar" class="seta-avancar">
                <img class="imagem-seta" src="/images/seta-direita.png" alt="seta avancar">
            </a>

        </div>

    </section>
    <article class="imagens-rodape">
        <img src="/public/images/suspensao-1.jpg" alt="">
        <img src="/public/images/freios-1.jpg" alt="">
        <img src="/public/images/garantia-1.jpg" alt="">
        <img src="/public/images/primeira-1.jpg" alt="">
    </article>
    <footer class="footer">
        <div class="container">
            <img src="/public/images/—Pngtree—mountain vintage biking cycling t-shirt_6611753.png" alt="">
        
        <p>Receba novidades e promoções exclusivas</p>

        <div class="form">
            <form action="post">
                <div class="col-auto">
                    <input class="input-footer" arial-label="name" name="name" placeholder="Seu nome" required type="text">
                </div>
                
                <div class="col-auto">
                    <input class="input-footer" arial-label="email" name="email" placeholder="Seu e-mail" required type="e-mail">
                </div>
                <button class="button" name="button" type="submit">
                <span class="text">OK</span>    
                </button>
            </form>
        </div>
        </div>
       

    </footer>
</body>
</html>