<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/logo.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Bike Shop</title>
</head>

<body>
    <header class="header">
        <img class="logo" src="images/logo.png" alt="Logo">
    </header>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Bike Shop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <section>
       
        <div class="imagens-slider">
            <a href="#" id="seta-voltar" class="seta-voltar opacidade">
                <img class="imagem-seta" src="/images/seta-direita.png" alt="seta voltar">
            </a>

            <div class="slide bike1 mostrar">
                <div class="conteudo">
                    <h2 class="titulo">Bicicleta 29 TSW E-Quest Full Carbon XT 12V Motor EP800 Shimano</h2>
                    <a href="/detalhes?produtos=produto1">Confira este modelo</a>
                </div>

                <img class="imagem-bike" src="/images/bike1.jpg" alt="">
            </div>

            <div class="slide bike2 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 29 OGGI AGILE PRO CARBON 2023</h2>
                    <a href="/detalhes?produtos=produto2">Confira este modelo</a>
                </div>

                <img class="imagem-bike" src="/images/bike2.jpg" alt="">
            </div>

            <div class="slide bike3 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 20 TSW RETRÔ ROSA</h2>
                    <a href="/detalhes?produtos=produto3">Confira este modelo</a>
                </div>
                <img class="imagem-bike" src="/images/bike-rosa.jpg" alt="">
            </div>

            <div class="slide bike3 ">
                <div class="conteudo">
                    <h2 class="titulo">BICICLETA 29 ABSOLUTE NERO 4 ELITE 2X9V C/ HIDRÁULICO GRAFITE/PRETO</h2>
                    <a href="/detalhes?produtos=produto4">Confira este modelo</a>
                </div>
                <img class="imagem-bike" src="/images/bike-preta.jpg" alt="">
            </div>

            <a href="#" id="seta-avancar" class="seta-avancar">
                <img class="imagem-seta" src="/images/seta-direita.png" alt="seta avancar">
            </a>

        </div>

    </section>

    <article class="imagens-rodape">
        <img src="/images/suspensao-1.jpg" alt="">
        <img src="/images/freios-1.jpg" alt="">
        <img src="/images/garantia-1.jpg" alt="">
        <img src="/images/primeira-1.jpg" alt="">
    </article>


    <footer class="footer">
        <div class="container">
            <p>Receba novidades e promoções exclusivas</p>

            <div class="form">
                <form action="post">
                    <div class="col-auto">
                        <input class="input-footer" arial-label="name" name="name" placeholder="Seu nome" required
                            type="text">
                    </div>

                    <div class="col-auto">
                        <input class="input-footer" arial-label="email" name="email" placeholder="Seu e-mail" required
                            type="e-mail">
                    </div>
                    <button class="button" name="button" type="submit">
                        <span class="text">OK</span>
                    </button>
                </form>
            </div>

            <div class="social-media">
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>

            </div>

        </div>

    </footer>
</body>

</html>